@font-face {
    font-family: 'basis'; /* 사용할 폰트 이름 */
    src: url('./fonts/Basis Grotesque Mono Pro Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'diatype'; /* 사용할 폰트 이름 */
    src: url('./fonts/ABCDiatype-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'camera'; /* 사용할 폰트 이름 */
    src: url('./fonts/ABCCamera-Regular-Trial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'camerapl'; /* 사용할 폰트 이름 */
    src: url('./fonts/ABCCameraPlain-Regular-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'camerapl-it'; /* 사용할 폰트 이름 */
    src: url('./fonts/ABCCameraPlain-RegularItalic-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

    

body {
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이에서 중앙 정렬 */
    width: fit-content;
    margin: 0;
    background-color: #f0f0f0;

}

#canvas-container {
    
    justify-content: center;
    align-items: center;
    width: fit-content;
    
    margin: auto; /* 가운데 정렬 */
}

#instruction-top, #instruction-bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'camera';
    font-size: 6rem;
    font-weight: normal;
    color: #04f;
    opacity: 0; /* 처음에는 안 보이게 설정 */
    transition: opacity 0.1s ;
    z-index: 9999;
    mix-blend-mode: hard-light;

}

#instruction-top {
    top: 2.5%;
}


#instruction-bottom {
    top: 2.5%;
}

.visible {
    opacity: 1;
}

/* 🔹 공통 버튼 스타일 */
#top-left, #top-right {
    position: absolute;
    top: 2.5%; /* 상단 여백 */
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}

#top-left {
    left: 1%; /* 좌측 모서리 */
}

#top-right {
    left: 3.5rem; /* 우측 모서리 */
}

/* 🔹 아이콘 스타일 */
#back-button, #info-button {
    width: 100%;
    height: 100%;
    transition: opacity ;
}

/* 🔹 호버 시 이미지 변경 */
#back-button:hover {
    content: url("./img/SVG/Asset 3.svg");
}

#info-button:hover {
    content: url("./img/SVG/Asset 4.svg");
}

/* 🔹 툴팁 스타일 */
#tooltip {
    position: fixed;
    color: #0044ff;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'camerapl';
    visibility: hidden;
    opacity: 0;
    display: block;
    width: 25rem !important; /* 가로 크기 지정 */
    overflow-wrap: break-word; /* 추가적인 줄 바꿈 옵션 */
    line-height: 1.1;
}

#it {
    font-family: 'camerapl-it';
}